################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/read-write/FileContentIndex/a616ce94-612b-4668-8fca-db57b3c3fcbd.vsidx
/.vs/read-write/v17/TestStore/0/000.testlog
/.vs/read-write/v17/TestStore/0/testlog.manifest
/.vs/read-write/FileContentIndex/800e8286-70b4-483c-ab1c-6280c76292f3.vsidx
/.vs/read-write/FileContentIndex/0a70ba79-efb9-44cd-9422-4aedd998089a.vsidx
/.vs/read-write/FileContentIndex
/.vs/read-write/v17/.wsuo
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/read-write/v17/TestStore/1/000.testlog
/.vs/read-write/v17/TestStore/1/testlog.manifest
/.vs/read-write/v17/DocumentLayout.json
/.vs/read-write/v17/DocumentLayout.backup.json
/.vs/read-write/CopilotIndices/17.14.552.11226/CodeChunks.db
/.vs/read-write/CopilotIndices/17.14.552.11226/CodeChunks.db-shm
/.vs/read-write/CopilotIndices/17.14.552.11226/CodeChunks.db-wal
/.vs/read-write/CopilotIndices/17.14.552.11226/SemanticSymbols.db
/.vs/read-write/CopilotIndices/17.14.552.11226
/.vs/read-write/CopilotIndices/17.14.670.39694
/.vs/read-write/CopilotIndices/17.14.698.11175
/.vs/ProjectSettings.json
